/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

$base-color: #3f51b5;
$base-dark-color: #303f9f;
$base-light-color: #e8eaf6;
